<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks</title>
  <link href="/app/assets/images/literature_filled_50_yXe_icon.ico" rel="shortcut icon" type="image/icon" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container"

      <%= yield %>

  </div>
</body>
</html>
